<div class="container mt-5">
    {% if request.session.language == 'en' %}
    <h1>Random Walk visualization</h1>
    <p>
        Enter the number of steps to generate a Random Walk with three different distributions.
    </p>
    {% else %}
    <h1>Visualização de Random Walk</h1>
    <p>
        Insira o número de passos para gerar um Random Walk com três distribuições diferentes.
    </p>
    {% endif %}
    <form id="randomWalkVisualizationForm" method="post" action="{% url 'simulate_random_walk' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="steps">
                {% if request.session.language == 'en' %}Number of Steps:{% else %}Número de Passos:{% endif %}
                
            </label>
            <input type="number" class="form-control" id="steps" name="steps" required min="1"
            placeholder="{% if request.session.language == 'en' %}Example: 1000{% else %}Exemplo: 1000{% endif %}">
        </div>

        <button type="submit" class="btn btn-primary mt-3" onclick="submitRandomWalkVisualizationForm(event)">
            
            {% if request.session.language == 'en' %}Generate{% else %}Gerar{% endif %}
        </button>
    </form>

    <!-- Container para exibir o gráfico -->
    <div id="plotContainer" class="mt-4"></div>
</div>

<script>
    function submitRandomWalkVisualizationForm(event) {
        event.preventDefault();
        const form = document.getElementById('randomWalkVisualizationForm');
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.plot_image) {
                const plotContainer = document.getElementById('plotContainer');
                plotContainer.innerHTML = `<img src="data:image/png;base64,${data.plot_image}" alt="Random Walk Visualization" class="img-fluid">`;
            } else {
                alert("Erro ao gerar o gráfico.");
            }
        })
        .catch(error => alert("Ocorreu um erro: " + error));
    }
</script>
